*{
    margin: 0;
    padding: 0;
}

.container{
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

.nav{
    border-bottom: 1px solid gray;
    width: 100%;
    height: 10%;
    display: flex;
}

.Logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 7rem;
    height: 3.3rem;
}

.navigations{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a1{
    color:#374c35;
    border-bottom: 3px solid #0079ff;
    text-decoration: none;
    margin: 9px;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a{
    color: #374c35;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





          /* Qaybta Hero Section */

.hero-section{
    width: 100%;
    height: 75%;
    display: flex;
}

.part1{
    width: 10%;
    height: 100%;
}

.textholder{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
    color: #374c35;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

.text1{
    color: #374c35;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

.text2{
    margin-top: 2px;
    color: #374c35;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.span{
    color:#0079ff;
}

.imageholder{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person{
    width: 35rem;
    height: 35rem;
}


          /* Qaybta Footerka */

.footer{
    width: 100%;
    height: 15%;
    display: flex;
}

.midig{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.bidix{
    width: 60%;
    height: 100%;
}

.scialicons{
    width: 5rem;
    height: 5rem;
    margin: 5px;
}








                                   /*Skills Page  */
                                   /*Skills Page  */
                                   /*Skills Page  */
                                   /*Skills Page  */
                                   /*Skills Page  */
                                   /*Skills Page  */


.imagesection{
    width:40% ;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillimg{
    width: 30rem;
    height: 30rem;
    border-radius: 35px;
}


.textsection{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


.header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cinwaaka{
    color: #0079ff;
    font-size: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.row1{
    background-color: #6c6c6c;
    width: 87%;
    height: 10%;
    border-radius: 7px;
    margin: 5px;
    display: flex;
    padding-left: 15px;
}

.row2{
    background-color: #d7d7d7;
    width: 87%;
    height: 10%;
    border-radius: 7px;
    margin: 5px;
    display: flex;
    padding-left: 15px;
}

.s1{
    color: white;
    font-size: 2.6rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.d1{
    color: white;
    font-size: 2.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
}











                                   /*About Page  */
                                   /*About Page  */
                                   /*About Page  */
                                   /*About Page  */
                                   /*About Page  */
                                   /*About Page  */
                                   /*About Page  */

.hero-section2{
    width: 100%;
    height: 75%;

}

.upper{
    background-color: #757575;
    width:100%;
    height: 30%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


.lower{
    width:100%;
    height:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sawirka{
    width: 20rem;
    height: 20rem;

}

.cinwaaka2{
    color: #0079ff;
    font-size: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.texting{
    color:black;
    font-size: 1rem;
    text-align: center;
    max-width: 40rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}